body{
 background: #FA8072;
}
.flex-parent{
 display: flex;
 flex-direction: column;
 justify-content: center;
}
.profile{
 width: 100%;
 height: auto;
 background: #C0C0C0;
 margin: 2%;
 padding: 1%;
   border: 2px solid #000;
 border-radius: 20px;
}
.content{
 width: 70%;
 height: auto;
 background: #C0C0C0;
 margin: 2%;
 padding: 1%;
 border: 2px solid #000;
 border-radius: 20px;
}
img{
 display: block;
 margin-left:auto;
 margin-right: auto;
   border: 1px solid #ddd;
   border-radius: 50%;
   vertical-allign: middle;
}
h1,#roll{
 text-align: center;
 text-tranform: capitalize;
 color: black;
}

a{
 text-decoration: none;
}
table{
  width:95%;
}
td{
  padding:1%;
}
tr:nth-child(even){
  background: white;
}
tr:nth-child(odd){
  background: Grey;
}

@media only screen and (min-width:320px) and (max-width:480px){

.flex-parent
{
 display: flex;
 flex-direction: column;
 justify-content: center;
}
.profile{
 width: 100%;
 height: auto;
 background: #ADD8E6;
 margin: 2%;
 padding: 1%;
   border: 2px solid #000;
 border-radius: 20px;
}
.content{
 width: 100%;
 height: auto;
 background: #ADD8E6;
 margin: 2%;
 padding: 1%;
 border: 2px solid #000;
 border-radius: 20px;
}
}

@media only screen and (min-width:480px) and (max-width:760px){

.flex-parent
{
 display: flex;
 flex-direction: column;
 justify-content: center;
}
.profile{
 width: 100%;
 height: auto;
 background: #DEB887;
 margin: 2%;
 padding: 1%;
   border: 2px solid #000;
 border-radius: 20px;
}
.content{
 width: 100%;
 height: auto;
 background: #DEB887;
 margin: 2%;
 padding: 1%;
 border: 2px solid #000;
 border-radius: 20px;
}
}
